
<!-- *** FOOTER ***
    _________________________________________________________ -->
    <div id="footer" data-animate="fadeInUp">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <h4 class="ml-page"></h4>

                  <ul>
                      <li><a routerLink="/nosotros"  class="ml-about"></a>
                      </li>
                      <li><a href="#" class="ml" id="termcond"></a>
                      </li>
                      <li><a routerLink="/contact" class="ml-contact"></a>
                      </li>
                  </ul>

                  <hr class="hidden-md hidden-lg hidden-sm">
              </div>
              <!-- /.col-md-4 -->
              <div class="col-md-4 col-sm-6">
                  <img src="./assets/img/logo.png" class="img-responsive">

                  <h4 class="ml-follow"></h4>

                  <p class="social">
                      <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                  </p>
              </div>
              <!-- /.col-md-4 -->
              <div class="col-md-4 col-sm-6">

                  <h4 class="ml-asknew"></h4>

                  <p class="text-muted answernew ml-txtmute">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>

                  <form>
                      <div class="input-group">

                          <input type="text" class="form-control">

                          <span class="input-group-btn">

                              <button class="btn btn-default subscribe ml" type="button ml-btnfootersuscribe" id="suscribe">Subscribe!</button>

                          </span>

                      </div>
                      <!-- /input-group -->
                  </form>

                  <hr>

              </div>
              <!-- /.col-md-4 -->

          </div>
          <!-- /.row -->

      </div>
      <!-- /.container -->
  </div>
  <!-- /#footer -->

  <!-- *** FOOTER END *** -->
<!-- *** COPYRIGHT ***
  _________________________________________________________ -->
  <div id="copyright">
      <div class="container">
          <div class="col-md-6">
              <p class="pull-left firma ml" id="firm">© 2018 EDP.</p>

          </div>
      </div>
  </div>
      <!-- *** COPYRIGHT END *** -->
