.cart {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
  top: 0;
  height: 100%;
  .cart-close{
    background-color: transparent;
    font-size: 5em;
    color: white;
    position: absolute;
    top: 3%;
    left: 3%;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.3em;
  }
  .cart-content {
    z-index: 200;
    background-color: white;
    margin: 10%;
    padding: 1%;
    text-align: center;
    table {
      margin: auto;
    }
  }
}
