
<div id="all">

  <div id="content">
      <div class="container">
          <div class="col-md-3">
              <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
              <div class="panel panel-default sidebar-menu">

                  <div class="panel-heading">
                      <h3 class="panel-title">Categories</h3>
                  </div>

                  <div class="panel-body">
                      <ul class="nav nav-pills nav-stacked category-menu">
                          <li>
                              <a href="category.html">Men <span class="badge pull-right">42</span></a>
                              <ul>
                                  <li><a href="category.html">T-shirts</a>
                                  </li>
                                  <li><a href="category.html">Shirts</a>
                                  </li>
                                  <li><a href="category.html">Pants</a>
                                  </li>
                                  <li><a href="category.html">Accessories</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="active">
                              <a href="category.html">Ladies  <span class="badge pull-right">123</span></a>
                              <ul>
                                  <li><a href="category.html">T-shirts</a>
                                  </li>
                                  <li><a href="category.html">Skirts</a>
                                  </li>
                                  <li><a href="category.html">Pants</a>
                                  </li>
                                  <li><a href="category.html">Accessories</a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="category.html">Kids  <span class="badge pull-right">11</span></a>
                              <ul>
                                  <li><a href="category.html">T-shirts</a>
                                  </li>
                                  <li><a href="category.html">Skirts</a>
                                  </li>
                                  <li><a href="category.html">Pants</a>
                                  </li>
                                  <li><a href="category.html">Accessories</a>
                                  </li>
                              </ul>
                          </li>

                      </ul>

                  </div>
              </div>
          </div>

          <div class="col-md-9">
              <div class="row" id="productMain">
                  <div class="col-sm-6">
                      <div id="mainImage">
                          <img src="img/detailbig1.jpg" alt="" class="img-responsive">
                      </div>

                      <div class="ribbon sale">
                          <div class="theribbon">SALE</div>
                          <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon -->

                      <div class="ribbon new">
                          <div class="theribbon">NEW</div>
                          <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon -->

                  </div>
                  <div class="col-sm-6">
                      <div class="box">
                          <h1 class="text-center">White Blouse Armani</h1>
                          <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                          </p>
                          <p class="price">$124.00</p>

                          <p class="text-center buttons">
                              <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                              <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                          </p>


                      </div>
                  </div>

              </div>


              <div class="box" id="details">
                  <p>
                      <h4>Product details</h4>
                      <p>White lace top, woven, has a round neck, short sleeves, has knitted lining attached</p>
                      <h4>Material & care</h4>
                      <ul>
                          <li>Polyester</li>
                          <li>Machine wash</li>
                      </ul>
                      <h4>Size & Fit</h4>
                      <ul>
                          <li>Regular fit</li>
                          <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                      </ul>

                      <blockquote>
                          <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                          </p>
                      </blockquote>

                      <hr>
                      <div class="social">
                          <h4>Show it to your friends</h4>
                          <p>
                              <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                              <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                              <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                              <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                          </p>
                      </div>
              </div>
          </div>
          <!-- /.col-md-9 -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /#content -->

</div>
