<div id="all">

  <div id="content">

      <div class="container">
          <div class="col-md-12">
              <div id="main-slider">
                  <div class="item">
                      <img src="./assets/img/Banner_1_EDP.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="item">
                      <img class="img-responsive" src="./assets/img/Banner_2_EDP.jpg" alt="">
                  </div>
                  <div class="item">
                      <a href="https://www.instagram.com/">
                          <img class="img-responsive" src="./assets/img/Banner_3_EDP.jpg" alt="">
                      </a>
                  </div>
                  <div class="item">
                      <img class="img-responsive" src="./assets/img/Banner_4_EDP.jpg" alt="">
                  </div>
              </div>
              <!-- /#main-slider -->
          </div>
      </div>

<!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
<div id="advantages">

  <div class="container">
      <div class="same-height-row">
          <div class="col-sm-4">
              <div class="box clickable">
                  <div class="icon"><i class="fa fa-heart"></i>
                  </div>

                  <h3><a href="#" class="ml-one-section-description"></a></h3>
                  <p class="ml-one-section-description-content"></p>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="box clickable">
                  <div class="icon"><i class="fa fa-tags"></i>
                  </div>

                  <h3><a href="#" class="ml-two-section-description"></a></h3>
                  <p class="ml-two-section-description-content"></p>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="box clickable">
                  <div class="icon"><i class="fa fa-thumbs-up"></i>
                  </div>

                  <h3><a href="#" class="ml-three-section-description"></a></h3>
                  <p class="ml-three-section-description-content"></p>
              </div>
          </div>
      </div>
      <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /#advantages -->

<!-- *** ADVANTAGES END *** -->

<!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div class="hot">
  <div class="container">
      <div class="product-slider">
          <div class="item" *ngFor="let product of pintura_especial_products;">
              <div class="product">
                  <div class="flip-container">
                      <div class="flipper">
                          <div class="front">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                          <div class="back">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                      </div>
                  </div>
                  <a href="#" class="invisible">
                      <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                  </a>
                  <div class="text">
                      <h3><a href="#">{{product.name}} {{product.quality}}</a></h3>
                      <p class="price">

                           <del *ngIf="product.price_reg">${{product.price_reg |number:'1.2-2'}}</del> 
                           ${{product.price |number:'1.2-2'}}
                          <select class="form-control-product" #qty>
                              <option [value]=1>1<option>
                              <option [value]=2>2<option>                                
                              <option [value]=3>3<option>
                              <option [value]=4>4<option>
                              <option [value]=5>5<option>
                          </select>

                          <strong style="margin-left: 15px">X12</strong></p>
                      <p class="text-center buttons">
                          <a class="btn btn-primary btnmodal" (click)="addToCart(product,qty.value)"><i class="fa fa-plus"></i> Añadir</a> 
                      </p>
                  </div>
                  <!-- /.text -->

                  <div class="ribbon sale">
                      <div *ngIf="product.new == 1" class="theribbon">Nuevo</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->
              </div>
              <!-- /.product -->
          </div>  
      </div>
      <div class="product-slider">
          <div class="item" *ngFor="let product of pintura_arquitectonicas_products;">
              <div class="product">
                  <div class="flip-container">
                      <div class="flipper">
                          <div class="front">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                          <div class="back">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                      </div>
                  </div>
                  <a href="#" class="invisible">
                      <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                  </a>
                  <div class="text">
                      <h3><a href="#">{{product.name}} {{product.quality}}</a></h3>
                      <p class="price">

                           <del *ngIf="product.price_reg">${{product.price_reg |number:'1.2-2'}}</del> 
                           ${{product.price |number:'1.2-2'}}
                          <select class="form-control-product" #qty>
                              <option [value]=1>1<option>
                              <option [value]=2>2<option>                                
                              <option [value]=3>3<option>
                              <option [value]=4>4<option>
                              <option [value]=5>5<option>
                          </select>

                          <strong style="margin-left: 15px">X12</strong></p>
                      <p class="text-center buttons">
                          <a class="btn btn-primary btnmodal" (click)="addToCart(product,qty.value)"><i class="fa fa-plus"></i> Añadir</a> 
                      </p>
                  </div>
                  <!-- /.text -->

                  <div class="ribbon sale">
                      <div class="theribbon">Nuevo</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->
              </div>
              <!-- /.product -->
          </div>  
      </div>
      <!-- /.product-slider -->
  </div>
  <!-- /.container -->
</div>

<div class="hot">
  <div class="box">
      <div class="container">
          <div class="col-md-12">
              <h2 class="ml-tanks"></h2>
          </div>
      </div>
  </div>
  <div class="box text-center" data-animate="fadeInUp">
      <div class="container">
          <div class="col-md-12">
              <h3 class="text-uppercase ml-tools"></h3>

              <p class="lead ml-tools-content">
              </p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="product-slider">
          <div class="item" *ngFor="let product of tools_products;">
              <div class="product">
                  <div class="flip-container">
                      <div class="flipper">
                          <div class="front">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                          <div class="back">
                              <a [routerLink]="['detail', product.id]">
                                  <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                              </a>
                          </div>
                      </div>
                  </div>
                  <a href="#" class="invisible">
                      <img [src]="getUrlPicture(product.picture)" alt="" class="img-responsive">
                  </a>
                  <div class="text">
                      <h3><a href="#">{{product.name}}</a></h3>
                      <p class="price">

                           <del *ngIf="product.price_reg">${{product.price_reg |number:'1.2-2'}}</del> 
                           ${{product.price |number:'1.2-2'}}
                          <select class="form-control-product" #qty>
                              <option [value]=1>1<option>
                              <option [value]=2>2<option>                                
                              <option [value]=3>3<option>
                              <option [value]=4>4<option>
                              <option [value]=5>5<option>
                          </select>

                          <strong style="margin-left: 15px">X12</strong></p>
                      <p class="text-center buttons">
                          <a class="btn btn-primary btnmodal" (click)="addToCart(product,qty.value)"><i class="fa fa-plus"></i> Añadir</a> 
                      </p>
                  </div>
                  <!-- /.text -->

                  <div class="ribbon sale">
                      <div class="theribbon">Nuevo</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->
              </div>
              <!-- /.product -->
          </div>  
      </div>
      <!-- /.product-slider -->
  </div>
  <!-- /.container -->
</div>
</div>
<!-- /#content -->