<div id="all">
  <div id="content">
    <div class="container">
      <div class="col-md-12">
        <div class="box" id="contact">
          <h1 class="ml-contact"></h1>

          <p class="lead ml-lead-contact"></p>

          <hr />

          <div class="row">
            <div class="col-sm-4 ml">
              <h3 class="ml-tittle-address" id="dir"></h3>
              <p class="ml-urb">

               </p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <h3 class="ml-call">
                <i class="fa fa-phone ml-contactcallus"></i>
              </h3>
              <p class="text-muted ml-contactsubcallus">
                
              </p>
              <p>
                <strong class="ml-contactnumtelf">+507 387.61.74 /387.61.75</strong>
              </p>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <h3 class="ml-tittle-email"><i class="fa fa-envelope"></i></h3>
              <p class="text-muted ml-contactsubemail">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
              <ul>
                <li>
                  <strong><a href="mailto:">ventas@edp.com.pa</a></strong>
                </li>
              </ul>
            </div>
            <!-- /.col-sm-4 -->
          </div>
          <!-- /.row -->

          <hr />

          <div id="map"></div>

          <hr />
          <h2 class="ml" id="form"></h2>

          <form action="contact.php" method="post">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstname" class="ml-name"></label>
                  <input
                    name="firstname"
                    type="text"
                    class="form-control"
                    id="firstname"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastname" class="ml-lastname"></label>
                  <input
                    name="lastname"
                    type="text"
                    class="form-control"
                    id="lastname"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email" class="ml-email"></label>
                  <input
                    name="email"
                    type="email"
                    class="form-control"
                    id="email"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="subject" class="ml-subject"></label>
                  <input
                    name="subject"
                    type="text"
                    class="form-control"
                    id="subject"
                  />
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="message" class="ml-message"></label>
                  <textarea
                    name="message"
                    id="message"
                    class="form-control"
                  ></textarea>
                </div>
              </div>

              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary ml-send-message">
                  <i class="fa fa-envelope-o"></i>
                </button>
              </div>
            </div>
            <!-- /.row -->
          </form>
        </div>
      </div>
      <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->
</div>
